body  {
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  background-color: #FFFFFF !important;
  color:rgba(0,0,0,0.84);
}

.nav-link {
  font-size: 14px;
}

.cat-link:hover {
  color:#6ABCDC !important;
}
.nav-link:hover {
  color:#6ABCDC !important;
}

.card-body-link {
  color:black;
}

.card-body-link:hover {
  color:black;
}

.country-link {
  color:black;
}

.country-link:hover {
  color:black;
}

.first-contact  {
  font-size: 16px;
  color:#bfc4c8;
}

.icon-social  {
  font-size:20px;
}

.second-navbar  {
  border-top:2px solid #EDEDED;
  border-bottom:2px solid #EDEDED;
}


.main-slide   {
  width:100%;
  height:400px;
}

.slide-img   {
  width:100%;
  height:400px;
}

.tour-suggest-title {
  text-align: center;
}

.search-field {
  padding:50px;
}

.search-box {
  border-radius: 10px;
  background-color:#6ABCDC !important;
  padding:30px;
}

.search-box h3  {
  text-align: center;
  color:rgba(0,0,0,0.84);
}

.search-box label  {
  color:rgba(0,0,0,0.84);
}

.tour-box {
  -webkit-box-shadow: 11px 9px 9px -6px rgba(182,182,182,1);
  -moz-box-shadow: 11px 9px 9px -6px rgba(182,182,182,1);
  box-shadow: 11px 9px 9px -6px rgba(182,182,182,1);
}

.tour-detail-box  {
  width:100%;
  height:100px;
  overflow:auto;
}

.tour-date-box  {
  width:100%;
  border-radius: 5px;
  padding: 5px;
  background-color: #E4E4E4;
  text-align: center;
}

.tour-date-box p  {
  text-align: center;
}

.tour-holiday-title {
  text-align: center;
}

.highlight  {
  background: url('http://www.goholidaytour.com/images/img/bg-service.jpg');
}

.highlight-box  {
  color:white;
  text-align: center;
}

.highlight-img {
  text-align: center;
  color: white;
}

.article-img  {
  width:100%;
}

.ads-field  {
  background-color:#EEEEEE;
  padding:20px;
}

.ads-field img  {
  width:100%;
}

.gallery-img-1  {
  width:100%;
  height: 423px;
}

.gallery-img-2  {
  width:100%;
}

.banner-ads-field img {
  width:100%;
}

.banner-fb img  {
  width:100%;
  height:500px;
}

.category-title {
  background:url('http://www.royaltour.co.th/uploads/background/image_bg_11.jpg');
  background-size: auto;
  color: white;
  text-align: center;
  width:100%;
}

.aboutus-title  {
  background:url('http://www.royaltour.co.th/uploads/background/image_bg_9.jpg');
  background-size: auto;
  color: white;
  text-align: center;
  width:100%;
}

.filter   {
  border-radius: 5px;
  background-color:#ffffff !important;
  padding: 25px 40px;
  color: #000000;
  border: 1px solid #e3e3e3;
  box-shadow: 2px 2px 12px 0px rgba(191,191,191,1);
  background: url(/assets/img/filter/bg-filter.jpg) no-repeat bottom center;
  background-size: 100% auto;
}
.filter h3 { font-size: 1.3em; border-bottom: 1px dashed #219dbb; padding-bottom: 15px; margin-bottom: 20px; }
.filter .icon-title { height: 25px; width: auto; margin-right: 10px;}
.filter .icon-search { height: 15px; width: auto; margin-right: 10px; }
.filter input { font-size: 0.9em; box-shadow: 2px 2px 12px 0px rgba(191,191,191,1); }
.filter select { font-size: 0.9em; box-shadow: 2px 2px 12px 0px rgba(191,191,191,1); }
.filter label { color: #219dbb; }
.filter .irs { height: auto; }
.filter .irs-bar { background: linear-gradient(to bottom, rgba(133,206,255,1) 0%, rgba(3,139,237,1) 100%); }
.filter .irs-from { font-size: 0.9em; background: #b3b3b3; }
.filter .irs-to { font-size: 0.9em; background: #b3b3b3; }
.filter .irs-single { font-size: 0.9em; background: #b3b3b3; }
.filter .irs-slider { width: 20px; height: 20px; top: 28px; }
.filter .btn-search { background: linear-gradient(to bottom, rgba(133,206,255,1) 0%, rgba(3,139,237,1) 100%); border: 1px solid #68c1f6; color: #fff; }

.country-small-img  {
  width:100%;
}

.tour-main-img  {
  width:100%;
  height: 400px;
}

.tour-main-title {
  text-align: center;
}

.tour-info  {
  background-color: #f5f5f5;
  padding:10px;
  border-radius: 10px;
  border:1px solid #e3e3e3;
}

.tour-pdf {
  border-left:5px solid #eee;
}

.tour-airline-img   {
  width:80px;
  height:40px;
}

.tour-file {
  text-align: right;
}

.dropdown-royal {
  width:750px;
}

.tour-main-img {
  height:200px;
}

.dropdown-nav {
  width:750px;
}

.dropdown-nav img {
  width:50%;
}

.tour-cat-img   {
  width:40%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

a:hover {
    text-decoration: none;
}

.nav-banner-img {
  width:728px;
  height:90px;
}

.nav-banner-img {
  width:728px;
  height:90px;
}

.second-banner-img  {
  width:350px;
  height:280px;
}

.couple-banner-img  {
  width:355px;
  height:140px;
}

.big-banner-img   {
  width:730px;
  height:500px;
}

.article-category {
  width:100% !important;
  height:200px !important;
}

.gallery-img {
  width:100%;
  height:100px;
}

.gallery-content-img  {
  width:100%;
  height:250px;
}

.tour-tab   {
  color:black;
}

.tour-tab:hover   {
  color:black;
}

.article-category-img   {
  width:100%;
  height:200px;
}

.article-img-content  {
  width:100%;
  height:350px;
}

.tour-card-title {
  height:48px;
}

.cat-link:active {
  background-color: white;
  color:black;
}

.soc-icon {
  width:20px;
}

.contact-table {
  border-radius: 10px;
  padding:10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
