/* Magenta */

.rw-magenta .rw-back
{
	border-color: #961445;
}

.rw-magenta .vjs-progress-holder,
.rw-magenta .vjs-volume-bar:before
{
	border-color: #d71c62;
}

.rw-magenta .vjs-seek-handle
{
	background-color: #d71c62;
}


.rw-magenta span:first-child
{
color: #fff;
background: #d71c62;
background: -moz-linear-gradient(top, #d14b77 0%, #d71c62 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d14b77), color-stop(100%,#d71c62)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d14b77 0%,#d71c62 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d14b77 0%,#d71c62 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d14b77 0%,#d71c62 100%); /* IE10+ */
background: linear-gradient(top, #d14b77 0%,#d71c62 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d14b77', endColorstr='#d71c62',GradientType=0 ); /* IE6-9 */
}

.rw-magenta.rw-bevelled span:first-child
{
background: -moz-linear-gradient(top,  rgba(232,78,163,1) 0%, rgba(232,91,144,1) 10%, rgba(209,75,119,1) 10%, rgba(215,28,98,1) 90%, rgba(197,13,66,1) 91%, rgba(232,27,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,78,163,1)), color-stop(10%,rgba(232,91,144,1)), color-stop(10%,rgba(209,75,119,1)), color-stop(90%,rgba(215,28,98,1)), color-stop(91%,rgba(197,13,66,1)), color-stop(100%,rgba(232,27,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(232,78,163,1) 0%,rgba(232,91,144,1) 10%,rgba(209,75,119,1) 10%,rgba(215,28,98,1) 90%,rgba(197,13,66,1) 91%,rgba(232,27,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(232,78,163,1) 0%,rgba(232,91,144,1) 10%,rgba(209,75,119,1) 10%,rgba(215,28,98,1) 90%,rgba(197,13,66,1) 91%,rgba(232,27,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(232,78,163,1) 0%,rgba(232,91,144,1) 10%,rgba(209,75,119,1) 10%,rgba(215,28,98,1) 90%,rgba(197,13,66,1) 91%,rgba(232,27,114,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(232,78,163,1) 0%,rgba(232,91,144,1) 10%,rgba(209,75,119,1) 10%,rgba(215,28,98,1) 90%,rgba(197,13,66,1) 91%,rgba(232,27,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84ea3', endColorstr='#e81b72',GradientType=0 ); /* IE6-9 */
}

.rw-magenta.rw-stripes-light span:first-child
{
background: -moz-linear-gradient(top,  rgba(209,75,119,1) 8%, rgba(255,255,255,1) 10%, rgba(209,75,119,1) 12%, rgba(215,28,98,1) 88%, rgba(255,251,255,1) 90%, rgba(215,28,98,1) 92%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(209,75,119,1)), color-stop(10%,rgba(255,255,255,1)), color-stop(12%,rgba(209,75,119,1)), color-stop(88%,rgba(215,28,98,1)), color-stop(90%,rgba(255,251,255,1)), color-stop(92%,rgba(215,28,98,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(209,75,119,1) 8%,rgba(255,255,255,1) 10%,rgba(209,75,119,1) 12%,rgba(215,28,98,1) 88%,rgba(255,251,255,1) 90%,rgba(215,28,98,1) 92%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(209,75,119,1) 8%,rgba(255,255,255,1) 10%,rgba(209,75,119,1) 12%,rgba(215,28,98,1) 88%,rgba(255,251,255,1) 90%,rgba(215,28,98,1) 92%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(209,75,119,1) 8%,rgba(255,255,255,1) 10%,rgba(209,75,119,1) 12%,rgba(215,28,98,1) 88%,rgba(255,251,255,1) 90%,rgba(215,28,98,1) 92%); /* IE10+ */
background: linear-gradient(top,  rgba(209,75,119,1) 8%,rgba(255,255,255,1) 10%,rgba(209,75,119,1) 12%,rgba(215,28,98,1) 88%,rgba(255,251,255,1) 90%,rgba(215,28,98,1) 92%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d14b77', endColorstr='#d71c62',GradientType=0 ); /* IE6-9 */
}
.rw-magenta.rw-stripes-dark span:first-child
{
background: -moz-linear-gradient(top,  rgba(209,75,119,1) 8%, rgba(168,42,92,1) 10%, rgba(209,75,119,1) 12%, rgba(215,28,98,1) 88%, rgba(170,25,76,1) 90%, rgba(215,28,98,1) 92%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(209,75,119,1)), color-stop(10%,rgba(168,42,92,1)), color-stop(12%,rgba(209,75,119,1)), color-stop(88%,rgba(215,28,98,1)), color-stop(90%,rgba(170,25,76,1)), color-stop(92%,rgba(215,28,98,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(209,75,119,1) 8%,rgba(168,42,92,1) 10%,rgba(209,75,119,1) 12%,rgba(215,28,98,1) 88%,rgba(170,25,76,1) 90%,rgba(215,28,98,1) 92%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(209,75,119,1) 8%,rgba(168,42,92,1) 10%,rgba(209,75,119,1) 12%,rgba(215,28,98,1) 88%,rgba(170,25,76,1) 90%,rgba(215,28,98,1) 92%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(209,75,119,1) 8%,rgba(168,42,92,1) 10%,rgba(209,75,119,1) 12%,rgba(215,28,98,1) 88%,rgba(170,25,76,1) 90%,rgba(215,28,98,1) 92%); /* IE10+ */
background: linear-gradient(top,  rgba(209,75,119,1) 8%,rgba(168,42,92,1) 10%,rgba(209,75,119,1) 12%,rgba(215,28,98,1) 88%,rgba(170,25,76,1) 90%,rgba(215,28,98,1) 92%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d14b77', endColorstr='#d71c62',GradientType=0 ); /* IE6-9 */
}
.rw-magenta.rw-flat-color span:first-child
{
background: #d71c62;
}

/* Blue */

.rw-blue .rw-back
{
	border-color: #19466D;
}

.rw-blue .vjs-progress-holder,
.rw-blue .vjs-volume-bar:before
{
	border-color: #2A75B7;
}

.rw-blue .vjs-seek-handle
{
	background-color: #2A75B7;
}



.rw-blue span:first-child
{
	color: #fff;
	background: #2A75B7;
	background: -moz-linear-gradient(top, rgba(110,148,181,1) 0%, rgba(42,117,183,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,148,181,1)), color-stop(100%,rgba(42,117,183,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(110,148,181,1) 0%,rgba(42,117,183,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(110,148,181,1) 0%,rgba(42,117,183,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(110,148,181,1) 0%,rgba(42,117,183,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(110,148,181,1) 0%,rgba(42,117,183,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e94b5', endColorstr='#2a75b7',GradientType=0 ); /* IE6-9 */
}
.rw-blue.rw-bevelled span:first-child
{
	background: rgb(107,145,173); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(107,145,173,1) 0%, rgba(139,159,175,1) 8%, rgba(89,138,175,1) 9%, rgba(36,113,175,1) 91%, rgba(21,94,150,1) 91%, rgba(0,59,104,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(107,145,173,1)), color-stop(8%,rgba(139,159,175,1)), color-stop(9%,rgba(89,138,175,1)), color-stop(91%,rgba(36,113,175,1)), color-stop(91%,rgba(21,94,150,1)), color-stop(100%,rgba(0,59,104,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(107,145,173,1) 0%,rgba(139,159,175,1) 8%,rgba(89,138,175,1) 9%,rgba(36,113,175,1) 91%,rgba(21,94,150,1) 91%,rgba(0,59,104,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(107,145,173,1) 0%,rgba(139,159,175,1) 8%,rgba(89,138,175,1) 9%,rgba(36,113,175,1) 91%,rgba(21,94,150,1) 91%,rgba(0,59,104,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(107,145,173,1) 0%,rgba(139,159,175,1) 8%,rgba(89,138,175,1) 9%,rgba(36,113,175,1) 91%,rgba(21,94,150,1) 91%,rgba(0,59,104,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(107,145,173,1) 0%,rgba(139,159,175,1) 8%,rgba(89,138,175,1) 9%,rgba(36,113,175,1) 91%,rgba(21,94,150,1) 91%,rgba(0,59,104,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b91ad', endColorstr='#003b68',GradientType=0 ); /* IE6-9 */
}
.rw-blue.rw-stripes-light span:first-child
{
	background: rgb(110,148,181); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(110,148,181,1) 0%, rgba(110,148,181,1) 8%, rgba(255,255,255,1) 10%, rgba(110,148,181,1) 12%, rgba(42,117,183,1) 88%, rgba(255,255,255,1) 90%, rgba(42,117,183,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,148,181,1)), color-stop(8%,rgba(110,148,181,1)), color-stop(10%,rgba(255,255,255,1)), color-stop(12%,rgba(110,148,181,1)), color-stop(88%,rgba(42,117,183,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(92%,rgba(42,117,183,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(110,148,181,1) 0%,rgba(110,148,181,1) 8%,rgba(255,255,255,1) 10%,rgba(110,148,181,1) 12%,rgba(42,117,183,1) 88%,rgba(255,255,255,1) 90%,rgba(42,117,183,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(110,148,181,1) 0%,rgba(110,148,181,1) 8%,rgba(255,255,255,1) 10%,rgba(110,148,181,1) 12%,rgba(42,117,183,1) 88%,rgba(255,255,255,1) 90%,rgba(42,117,183,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(110,148,181,1) 0%,rgba(110,148,181,1) 8%,rgba(255,255,255,1) 10%,rgba(110,148,181,1) 12%,rgba(42,117,183,1) 88%,rgba(255,255,255,1) 90%,rgba(42,117,183,1) 92%); /* IE10+ */
	background: linear-gradient(top,  rgba(110,148,181,1) 0%,rgba(110,148,181,1) 8%,rgba(255,255,255,1) 10%,rgba(110,148,181,1) 12%,rgba(42,117,183,1) 88%,rgba(255,255,255,1) 90%,rgba(42,117,183,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e94b5', endColorstr='#2a75b7',GradientType=0 ); /* IE6-9 */
}
.rw-blue.rw-stripes-dark span:first-child
{
	background: rgb(110,148,181); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(110,148,181,1) 0%, rgba(110,148,181,1) 8%, rgba(40,105,255,1) 10%, rgba(110,148,181,1) 12%, rgba(42,117,183,1) 88%, rgba(30,71,255,1) 90%, rgba(42,117,183,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,148,181,1)), color-stop(8%,rgba(110,148,181,1)), color-stop(10%,rgba(40,105,255,1)), color-stop(12%,rgba(110,148,181,1)), color-stop(88%,rgba(42,117,183,1)), color-stop(90%,rgba(30,71,255,1)), color-stop(92%,rgba(42,117,183,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(110,148,181,1) 0%,rgba(110,148,181,1) 8%,rgba(40,105,255,1) 10%,rgba(110,148,181,1) 12%,rgba(42,117,183,1) 88%,rgba(30,71,255,1) 90%,rgba(42,117,183,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(110,148,181,1) 0%,rgba(110,148,181,1) 8%,rgba(40,105,255,1) 10%,rgba(110,148,181,1) 12%,rgba(42,117,183,1) 88%,rgba(30,71,255,1) 90%,rgba(42,117,183,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(110,148,181,1) 0%,rgba(110,148,181,1) 8%,rgba(40,105,255,1) 10%,rgba(110,148,181,1) 12%,rgba(42,117,183,1) 88%,rgba(30,71,255,1) 90%,rgba(42,117,183,1) 92%); /* IE10+ */
	background: linear-gradient(top,  rgba(110,148,181,1) 0%,rgba(110,148,181,1) 8%,rgba(40,105,255,1) 10%,rgba(110,148,181,1) 12%,rgba(42,117,183,1) 88%,rgba(30,71,255,1) 90%,rgba(42,117,183,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e94b5', endColorstr='#2a75b7',GradientType=0 ); /* IE6-9 */
}
.rw-blue.rw-flat-color span:first-child
{
	background: rgb(110,148,181);
}

/* Green */
.rw-green .rw-back
{
	border-color: #33722F;
}

.rw-green .vjs-progress-holder,
.rw-green .vjs-volume-bar:before
{
	border-color: rgb(69,155,63);
}

.rw-green .vjs-seek-handle
{
	background-color: rgb(69,155,63);
}



.rw-green span:first-child
{
	color: #fff;
	background: rgb(158,191,101); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(158,191,101,1) 1%, rgba(69,155,63,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(158,191,101,1)), color-stop(100%,rgba(69,155,63,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(158,191,101,1) 1%,rgba(69,155,63,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(158,191,101,1) 1%,rgba(69,155,63,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(158,191,101,1) 1%,rgba(69,155,63,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(158,191,101,1) 1%,rgba(69,155,63,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ebf65', endColorstr='#459b3f',GradientType=0 ); /* IE6-9 */
}

.rw-green.rw-bevelled span:first-child
{
	background: rgb(203,229,156); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(203,229,156,1) 0%, rgba(183,216,158,1) 9%, rgba(158,191,101,1) 11%, rgba(69,155,63,1) 89%, rgba(69,155,63,1) 89%, rgba(54,142,48,1) 90%, rgba(43,104,38,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,229,156,1)), color-stop(9%,rgba(183,216,158,1)), color-stop(11%,rgba(158,191,101,1)), color-stop(89%,rgba(69,155,63,1)), color-stop(89%,rgba(69,155,63,1)), color-stop(90%,rgba(54,142,48,1)), color-stop(100%,rgba(43,104,38,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(203,229,156,1) 0%,rgba(183,216,158,1) 9%,rgba(158,191,101,1) 11%,rgba(69,155,63,1) 89%,rgba(69,155,63,1) 89%,rgba(54,142,48,1) 90%,rgba(43,104,38,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(203,229,156,1) 0%,rgba(183,216,158,1) 9%,rgba(158,191,101,1) 11%,rgba(69,155,63,1) 89%,rgba(69,155,63,1) 89%,rgba(54,142,48,1) 90%,rgba(43,104,38,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(203,229,156,1) 0%,rgba(183,216,158,1) 9%,rgba(158,191,101,1) 11%,rgba(69,155,63,1) 89%,rgba(69,155,63,1) 89%,rgba(54,142,48,1) 90%,rgba(43,104,38,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(203,229,156,1) 0%,rgba(183,216,158,1) 9%,rgba(158,191,101,1) 11%,rgba(69,155,63,1) 89%,rgba(69,155,63,1) 89%,rgba(54,142,48,1) 90%,rgba(43,104,38,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe59c', endColorstr='#2b6826',GradientType=0 ); /* IE6-9 */
}

.rw-green.rw-stripes-light span:first-child
{
	background: rgb(153,188,92); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,188,92,1) 1%, rgba(174,201,124,1) 8%, rgba(255,255,255,1) 10%, rgba(158,191,101,1) 12%, rgba(69,155,63,1) 88%, rgba(255,255,255,1) 90%, rgba(69,155,63,1) 92%, rgba(52,142,44,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(153,188,92,1)), color-stop(8%,rgba(174,201,124,1)), color-stop(10%,rgba(255,255,255,1)), color-stop(12%,rgba(158,191,101,1)), color-stop(88%,rgba(69,155,63,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(92%,rgba(69,155,63,1)), color-stop(100%,rgba(52,142,44,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,188,92,1) 1%,rgba(174,201,124,1) 8%,rgba(255,255,255,1) 10%,rgba(158,191,101,1) 12%,rgba(69,155,63,1) 88%,rgba(255,255,255,1) 90%,rgba(69,155,63,1) 92%,rgba(52,142,44,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,188,92,1) 1%,rgba(174,201,124,1) 8%,rgba(255,255,255,1) 10%,rgba(158,191,101,1) 12%,rgba(69,155,63,1) 88%,rgba(255,255,255,1) 90%,rgba(69,155,63,1) 92%,rgba(52,142,44,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,188,92,1) 1%,rgba(174,201,124,1) 8%,rgba(255,255,255,1) 10%,rgba(158,191,101,1) 12%,rgba(69,155,63,1) 88%,rgba(255,255,255,1) 90%,rgba(69,155,63,1) 92%,rgba(52,142,44,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(153,188,92,1) 1%,rgba(174,201,124,1) 8%,rgba(255,255,255,1) 10%,rgba(158,191,101,1) 12%,rgba(69,155,63,1) 88%,rgba(255,255,255,1) 90%,rgba(69,155,63,1) 92%,rgba(52,142,44,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bc5c', endColorstr='#348e2c',GradientType=0 ); /* IE6-9 */
}

.rw-green.rw-stripes-dark span:first-child
{
	background: rgb(153,188,92); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,188,92,1) 1%, rgba(174,201,124,1) 8%, rgba(49,137,48,1) 10%, rgba(158,191,101,1) 12%, rgba(69,155,63,1) 88%, rgba(40,112,39,1) 90%, rgba(69,155,63,1) 92%, rgba(52,142,44,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(153,188,92,1)), color-stop(8%,rgba(174,201,124,1)), color-stop(10%,rgba(49,137,48,1)), color-stop(12%,rgba(158,191,101,1)), color-stop(88%,rgba(69,155,63,1)), color-stop(90%,rgba(40,112,39,1)), color-stop(92%,rgba(69,155,63,1)), color-stop(100%,rgba(52,142,44,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,188,92,1) 1%,rgba(174,201,124,1) 8%,rgba(49,137,48,1) 10%,rgba(158,191,101,1) 12%,rgba(69,155,63,1) 88%,rgba(40,112,39,1) 90%,rgba(69,155,63,1) 92%,rgba(52,142,44,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,188,92,1) 1%,rgba(174,201,124,1) 8%,rgba(49,137,48,1) 10%,rgba(158,191,101,1) 12%,rgba(69,155,63,1) 88%,rgba(40,112,39,1) 90%,rgba(69,155,63,1) 92%,rgba(52,142,44,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,188,92,1) 1%,rgba(174,201,124,1) 8%,rgba(49,137,48,1) 10%,rgba(158,191,101,1) 12%,rgba(69,155,63,1) 88%,rgba(40,112,39,1) 90%,rgba(69,155,63,1) 92%,rgba(52,142,44,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(153,188,92,1) 1%,rgba(174,201,124,1) 8%,rgba(49,137,48,1) 10%,rgba(158,191,101,1) 12%,rgba(69,155,63,1) 88%,rgba(40,112,39,1) 90%,rgba(69,155,63,1) 92%,rgba(52,142,44,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bc5c', endColorstr='#348e2c',GradientType=0 ); /* IE6-9 */
}
.rw-green.rw-flat-color span:first-child
{
	background: rgb(153,188,92);
}

/* Black */
.rw-black .rw-back
{
	border-color: #000;
}

.rw-black .vjs-progress-holder,
.rw-black .vjs-volume-bar:before
{
	border-color:  #000;
}

.rw-black .vjs-seek-handle
{
	background-color: #000;
}


.rw-black span:first-child
{
	color: #fff;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.rw-black.rw-bevelled span:first-child
{
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(59,62,66,1) 11%, rgba(48,51,53,1) 11%, rgba(0,0,0,1) 88%, rgba(20,20,20,1) 88%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(11%,rgba(59,62,66,1)), color-stop(11%,rgba(48,51,53,1)), color-stop(88%,rgba(0,0,0,1)), color-stop(88%,rgba(20,20,20,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(59,62,66,1) 11%,rgba(48,51,53,1) 11%,rgba(0,0,0,1) 88%,rgba(20,20,20,1) 88%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(59,62,66,1) 11%,rgba(48,51,53,1) 11%,rgba(0,0,0,1) 88%,rgba(20,20,20,1) 88%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(59,62,66,1) 11%,rgba(48,51,53,1) 11%,rgba(0,0,0,1) 88%,rgba(20,20,20,1) 88%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(59,62,66,1) 11%,rgba(48,51,53,1) 11%,rgba(0,0,0,1) 88%,rgba(20,20,20,1) 88%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.rw-black.rw-stripes-light span:first-child
{
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(48,51,53,1) 10%, rgba(98,103,109,1) 11%, rgba(48,51,53,1) 12%, rgba(20,20,20,1) 87%, rgba(79,79,79,1) 90%, rgba(38,38,38,1) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(10%,rgba(48,51,53,1)), color-stop(11%,rgba(98,103,109,1)), color-stop(12%,rgba(48,51,53,1)), color-stop(87%,rgba(20,20,20,1)), color-stop(90%,rgba(79,79,79,1)), color-stop(91%,rgba(38,38,38,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(48,51,53,1) 10%,rgba(98,103,109,1) 11%,rgba(48,51,53,1) 12%,rgba(20,20,20,1) 87%,rgba(79,79,79,1) 90%,rgba(38,38,38,1) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(48,51,53,1) 10%,rgba(98,103,109,1) 11%,rgba(48,51,53,1) 12%,rgba(20,20,20,1) 87%,rgba(79,79,79,1) 90%,rgba(38,38,38,1) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(48,51,53,1) 10%,rgba(98,103,109,1) 11%,rgba(48,51,53,1) 12%,rgba(20,20,20,1) 87%,rgba(79,79,79,1) 90%,rgba(38,38,38,1) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(48,51,53,1) 10%,rgba(98,103,109,1) 11%,rgba(48,51,53,1) 12%,rgba(20,20,20,1) 87%,rgba(79,79,79,1) 90%,rgba(38,38,38,1) 91%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.rw-black.rw-stripes-dark span:first-child
{
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(48,51,53,1) 10%, rgba(20,20,20,1) 11%, rgba(48,51,53,1) 12%, rgba(20,20,20,1) 87%, rgba(0,0,0,1) 89%, rgba(22,22,22,1) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(10%,rgba(48,51,53,1)), color-stop(11%,rgba(20,20,20,1)), color-stop(12%,rgba(48,51,53,1)), color-stop(87%,rgba(20,20,20,1)), color-stop(89%,rgba(0,0,0,1)), color-stop(91%,rgba(22,22,22,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(48,51,53,1) 10%,rgba(20,20,20,1) 11%,rgba(48,51,53,1) 12%,rgba(20,20,20,1) 87%,rgba(0,0,0,1) 89%,rgba(22,22,22,1) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(48,51,53,1) 10%,rgba(20,20,20,1) 11%,rgba(48,51,53,1) 12%,rgba(20,20,20,1) 87%,rgba(0,0,0,1) 89%,rgba(22,22,22,1) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(48,51,53,1) 10%,rgba(20,20,20,1) 11%,rgba(48,51,53,1) 12%,rgba(20,20,20,1) 87%,rgba(0,0,0,1) 89%,rgba(22,22,22,1) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(48,51,53,1) 10%,rgba(20,20,20,1) 11%,rgba(48,51,53,1) 12%,rgba(20,20,20,1) 87%,rgba(0,0,0,1) 89%,rgba(22,22,22,1) 91%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}

.rw-black.rw-flat-color span:first-child
{
	background: #000;
}

/* White */
.rw-white .rw-back
{
	border-color: #888;
}

.rw-white .vjs-progress-holder,
.rw-white .vjs-volume-bar:before
{
	border-color:  #fff;
}

.rw-white .vjs-seek-handle
{
	background-color: #fff;
}

.rw-white .vjs-fullscreen-control
{
	background-image: url('images/darkicons/fullscreen.png');
}

.rw-white .vjs-play-control
{
	background-image: url('images/darkicons/playpause.png');
}

.rw-white .vjs-progress-holder
{
	background: rgba(0,0,0, 0.2);
}
.rw-white .vjs-play-progress
{
	background: #333;
}

.rw-white .vjs-load-progress
{
	background: rgb(25,25,25);
	background: rgba(0,0,0, 0.2);
} 

.rw-white .vjs-volume-level
{
	background: rgba(0,0,0, 0.4);
}
.rw-white .vjs-volume-handle
{
	background: #333;
}
.rw-white .vjs-volume-bar:before
{
	background: rgba(0,0,0, 0.2);
}


.rw-white span:first-child
{
	color: #111;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */



}

.rw-white.rw-bevelled span:first-child
{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 13%, rgba(204,204,204,1) 90%, rgba(183,183,183,1) 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(12%,rgba(255,255,255,1)), color-stop(13%,rgba(234,234,234,1)), color-stop(90%,rgba(204,204,204,1)), color-stop(91%,rgba(183,183,183,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(234,234,234,1) 13%,rgba(204,204,204,1) 90%,rgba(183,183,183,1) 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(234,234,234,1) 13%,rgba(204,204,204,1) 90%,rgba(183,183,183,1) 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(234,234,234,1) 13%,rgba(204,204,204,1) 90%,rgba(183,183,183,1) 91%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(234,234,234,1) 13%,rgba(204,204,204,1) 90%,rgba(183,183,183,1) 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */


}

.rw-white.rw-stripes-light span:first-child
{
	background: rgb(237,234,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,234,234,1) 0%, rgba(214,214,214,1) 9%, rgba(255,255,255,1) 11%, rgba(221,221,221,1) 12%, rgba(204,204,204,1) 88%, rgba(255,255,255,1) 90%, rgba(196,196,196,1) 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,234,234,1)), color-stop(9%,rgba(214,214,214,1)), color-stop(11%,rgba(255,255,255,1)), color-stop(12%,rgba(221,221,221,1)), color-stop(88%,rgba(204,204,204,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(91%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,234,234,1) 0%,rgba(214,214,214,1) 9%,rgba(255,255,255,1) 11%,rgba(221,221,221,1) 12%,rgba(204,204,204,1) 88%,rgba(255,255,255,1) 90%,rgba(196,196,196,1) 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,234,234,1) 0%,rgba(214,214,214,1) 9%,rgba(255,255,255,1) 11%,rgba(221,221,221,1) 12%,rgba(204,204,204,1) 88%,rgba(255,255,255,1) 90%,rgba(196,196,196,1) 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,234,234,1) 0%,rgba(214,214,214,1) 9%,rgba(255,255,255,1) 11%,rgba(221,221,221,1) 12%,rgba(204,204,204,1) 88%,rgba(255,255,255,1) 90%,rgba(196,196,196,1) 91%); /* IE10+ */
	background: linear-gradient(top,  rgba(237,234,234,1) 0%,rgba(214,214,214,1) 9%,rgba(255,255,255,1) 11%,rgba(221,221,221,1) 12%,rgba(204,204,204,1) 88%,rgba(255,255,255,1) 90%,rgba(196,196,196,1) 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaea', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}

.rw-white.rw-stripes-dark span:first-child
{
	background: rgb(237,234,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,234,234,1) 0%, rgba(219,219,219,1) 9%, rgba(158,156,156,1) 11%, rgba(229,227,227,1) 13%, rgba(204,204,204,1) 88%, rgba(124,124,124,1) 90%, rgba(196,196,196,1) 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,234,234,1)), color-stop(9%,rgba(219,219,219,1)), color-stop(11%,rgba(158,156,156,1)), color-stop(13%,rgba(229,227,227,1)), color-stop(88%,rgba(204,204,204,1)), color-stop(90%,rgba(124,124,124,1)), color-stop(91%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,234,234,1) 0%,rgba(219,219,219,1) 9%,rgba(158,156,156,1) 11%,rgba(229,227,227,1) 13%,rgba(204,204,204,1) 88%,rgba(124,124,124,1) 90%,rgba(196,196,196,1) 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,234,234,1) 0%,rgba(219,219,219,1) 9%,rgba(158,156,156,1) 11%,rgba(229,227,227,1) 13%,rgba(204,204,204,1) 88%,rgba(124,124,124,1) 90%,rgba(196,196,196,1) 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,234,234,1) 0%,rgba(219,219,219,1) 9%,rgba(158,156,156,1) 11%,rgba(229,227,227,1) 13%,rgba(204,204,204,1) 88%,rgba(124,124,124,1) 90%,rgba(196,196,196,1) 91%); /* IE10+ */
	background: linear-gradient(top,  rgba(237,234,234,1) 0%,rgba(219,219,219,1) 9%,rgba(158,156,156,1) 11%,rgba(229,227,227,1) 13%,rgba(204,204,204,1) 88%,rgba(124,124,124,1) 90%,rgba(196,196,196,1) 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaea', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */


}

.rw-white.rw-flat-color span:first-child
{
	background: #fff;
}
/* orange */
.rw-orange .rw-back
{
	border-color: #A04D09;
}

.rw-orange .vjs-progress-holder,
.rw-orange .vjs-volume-bar:before
{
	border-color:  rgba(255,123,13,1);
}

.rw-orange .vjs-seek-handle
{
	background-color: rgba(255,123,13,1);
}

.rw-orange span:first-child
{
	color: #fff;
	background: rgb(255,168,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.rw-orange.rw-bevelled span:first-child
{
	background: rgb(255,184,114); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,184,114,1) 0%, rgba(255,224,193,1) 7%, rgba(255,168,76,1) 10%, rgba(255,123,13,1) 88%, rgba(255,123,13,1) 90%, rgba(219,105,13,1) 93%, rgba(193,93,11,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,184,114,1)), color-stop(7%,rgba(255,224,193,1)), color-stop(10%,rgba(255,168,76,1)), color-stop(88%,rgba(255,123,13,1)), color-stop(90%,rgba(255,123,13,1)), color-stop(93%,rgba(219,105,13,1)), color-stop(100%,rgba(193,93,11,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,224,193,1) 7%,rgba(255,168,76,1) 10%,rgba(255,123,13,1) 88%,rgba(255,123,13,1) 90%,rgba(219,105,13,1) 93%,rgba(193,93,11,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,224,193,1) 7%,rgba(255,168,76,1) 10%,rgba(255,123,13,1) 88%,rgba(255,123,13,1) 90%,rgba(219,105,13,1) 93%,rgba(193,93,11,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,224,193,1) 7%,rgba(255,168,76,1) 10%,rgba(255,123,13,1) 88%,rgba(255,123,13,1) 90%,rgba(219,105,13,1) 93%,rgba(193,93,11,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,224,193,1) 7%,rgba(255,168,76,1) 10%,rgba(255,123,13,1) 88%,rgba(255,123,13,1) 90%,rgba(219,105,13,1) 93%,rgba(193,93,11,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb872', endColorstr='#c15d0b',GradientType=0 ); /* IE6-9 */
}

.rw-orange.rw-stripes-light span:first-child
{
	background: rgb(255,184,114); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,184,114,1) 0%, rgba(255,168,76,1) 8%, rgba(255,255,255,1) 10%, rgba(255,168,76,1) 12%, rgba(255,123,13,1) 88%, rgba(255,255,255,1) 90%, rgba(255,123,13,1) 92%, rgba(229,110,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,184,114,1)), color-stop(8%,rgba(255,168,76,1)), color-stop(10%,rgba(255,255,255,1)), color-stop(12%,rgba(255,168,76,1)), color-stop(88%,rgba(255,123,13,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(92%,rgba(255,123,13,1)), color-stop(100%,rgba(229,110,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,168,76,1) 8%,rgba(255,255,255,1) 10%,rgba(255,168,76,1) 12%,rgba(255,123,13,1) 88%,rgba(255,255,255,1) 90%,rgba(255,123,13,1) 92%,rgba(229,110,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,168,76,1) 8%,rgba(255,255,255,1) 10%,rgba(255,168,76,1) 12%,rgba(255,123,13,1) 88%,rgba(255,255,255,1) 90%,rgba(255,123,13,1) 92%,rgba(229,110,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,168,76,1) 8%,rgba(255,255,255,1) 10%,rgba(255,168,76,1) 12%,rgba(255,123,13,1) 88%,rgba(255,255,255,1) 90%,rgba(255,123,13,1) 92%,rgba(229,110,13,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,168,76,1) 8%,rgba(255,255,255,1) 10%,rgba(255,168,76,1) 12%,rgba(255,123,13,1) 88%,rgba(255,255,255,1) 90%,rgba(255,123,13,1) 92%,rgba(229,110,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb872', endColorstr='#e56e0d',GradientType=0 ); /* IE6-9 */

}

.rw-orange.rw-stripes-dark span:first-child
{
	background: rgb(255,184,114); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,184,114,1) 0%, rgba(255,168,76,1) 8%, rgba(255,110,48,1) 10%, rgba(255,168,76,1) 12%, rgba(255,123,13,1) 88%, rgba(206,86,39,1) 90%, rgba(255,123,13,1) 92%, rgba(229,110,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,184,114,1)), color-stop(8%,rgba(255,168,76,1)), color-stop(10%,rgba(255,110,48,1)), color-stop(12%,rgba(255,168,76,1)), color-stop(88%,rgba(255,123,13,1)), color-stop(90%,rgba(206,86,39,1)), color-stop(92%,rgba(255,123,13,1)), color-stop(100%,rgba(229,110,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,168,76,1) 8%,rgba(255,110,48,1) 10%,rgba(255,168,76,1) 12%,rgba(255,123,13,1) 88%,rgba(206,86,39,1) 90%,rgba(255,123,13,1) 92%,rgba(229,110,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,168,76,1) 8%,rgba(255,110,48,1) 10%,rgba(255,168,76,1) 12%,rgba(255,123,13,1) 88%,rgba(206,86,39,1) 90%,rgba(255,123,13,1) 92%,rgba(229,110,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,168,76,1) 8%,rgba(255,110,48,1) 10%,rgba(255,168,76,1) 12%,rgba(255,123,13,1) 88%,rgba(206,86,39,1) 90%,rgba(255,123,13,1) 92%,rgba(229,110,13,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,184,114,1) 0%,rgba(255,168,76,1) 8%,rgba(255,110,48,1) 10%,rgba(255,168,76,1) 12%,rgba(255,123,13,1) 88%,rgba(206,86,39,1) 90%,rgba(255,123,13,1) 92%,rgba(229,110,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb872', endColorstr='#e56e0d',GradientType=0 ); /* IE6-9 */

}

.rw-orange.rw-flat-color span:first-child
{
	background: rgb(255,123,13);
}

/* red */
.rw-red .rw-back
{
	border-color: #8C1C1C;
}


.rw-red .vjs-progress-holder,
.rw-red .vjs-volume-bar:before
{
	border-color:  rgba(206,37,37,1);
}

.rw-red .vjs-seek-handle
{
	background-color: rgba(206,37,37,1);
}



.rw-red span:first-child
{
	color: #fff;
	background: rgb(255,79,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,79,63,1) 1%, rgba(206,37,37,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,79,63,1)), color-stop(100%,rgba(206,37,37,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(206,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(206,37,37,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(206,37,37,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(206,37,37,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4f3f', endColorstr='#ce2525',GradientType=0 ); /* IE6-9 */

}

.rw-red.rw-bevelled span:first-child
{
	background: rgb(255,145,135); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,145,135,1) 0%, rgba(196,61,49,1) 9%, rgba(206,37,37,1) 10%, rgba(206,37,37,1) 90%, rgba(188,33,33,1) 91%, rgba(127,22,22,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,145,135,1)), color-stop(9%,rgba(196,61,49,1)), color-stop(10%,rgba(206,37,37,1)), color-stop(90%,rgba(206,37,37,1)), color-stop(91%,rgba(188,33,33,1)), color-stop(100%,rgba(127,22,22,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,145,135,1) 0%,rgba(196,61,49,1) 9%,rgba(206,37,37,1) 10%,rgba(206,37,37,1) 90%,rgba(188,33,33,1) 91%,rgba(127,22,22,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,145,135,1) 0%,rgba(196,61,49,1) 9%,rgba(206,37,37,1) 10%,rgba(206,37,37,1) 90%,rgba(188,33,33,1) 91%,rgba(127,22,22,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,145,135,1) 0%,rgba(196,61,49,1) 9%,rgba(206,37,37,1) 10%,rgba(206,37,37,1) 90%,rgba(188,33,33,1) 91%,rgba(127,22,22,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,145,135,1) 0%,rgba(196,61,49,1) 9%,rgba(206,37,37,1) 10%,rgba(206,37,37,1) 90%,rgba(188,33,33,1) 91%,rgba(127,22,22,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9187', endColorstr='#7f1616',GradientType=0 ); /* IE6-9 */

}

.rw-red.rw-stripes-light span:first-child
{
	color: #fff;
	background: rgb(255,79,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,79,63,1) 1%, rgba(255,79,63,1) 8%, rgba(255,203,198,1) 10%, rgba(255,79,63,1) 12%, rgba(206,37,37,1) 88%, rgba(204,157,157,1) 90%, rgba(206,37,37,1) 92%, rgba(206,37,37,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,79,63,1)), color-stop(8%,rgba(255,79,63,1)), color-stop(10%,rgba(255,203,198,1)), color-stop(12%,rgba(255,79,63,1)), color-stop(88%,rgba(206,37,37,1)), color-stop(90%,rgba(204,157,157,1)), color-stop(92%,rgba(206,37,37,1)), color-stop(100%,rgba(206,37,37,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(255,79,63,1) 8%,rgba(255,203,198,1) 10%,rgba(255,79,63,1) 12%,rgba(206,37,37,1) 88%,rgba(204,157,157,1) 90%,rgba(206,37,37,1) 92%,rgba(206,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(255,79,63,1) 8%,rgba(255,203,198,1) 10%,rgba(255,79,63,1) 12%,rgba(206,37,37,1) 88%,rgba(204,157,157,1) 90%,rgba(206,37,37,1) 92%,rgba(206,37,37,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(255,79,63,1) 8%,rgba(255,203,198,1) 10%,rgba(255,79,63,1) 12%,rgba(206,37,37,1) 88%,rgba(204,157,157,1) 90%,rgba(206,37,37,1) 92%,rgba(206,37,37,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(255,79,63,1) 8%,rgba(255,203,198,1) 10%,rgba(255,79,63,1) 12%,rgba(206,37,37,1) 88%,rgba(204,157,157,1) 90%,rgba(206,37,37,1) 92%,rgba(206,37,37,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4f3f', endColorstr='#ce2525',GradientType=0 ); /* IE6-9 */
}

.rw-red.rw-stripes-dark span:first-child
{
	background: rgb(255,79,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,79,63,1) 1%, rgba(255,79,63,1) 8%, rgba(198,0,0,1) 10%, rgba(255,79,63,1) 12%, rgba(206,37,37,1) 88%, rgba(147,0,0,1) 90%, rgba(206,37,37,1) 92%, rgba(206,37,37,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,79,63,1)), color-stop(8%,rgba(255,79,63,1)), color-stop(10%,rgba(198,0,0,1)), color-stop(12%,rgba(255,79,63,1)), color-stop(88%,rgba(206,37,37,1)), color-stop(90%,rgba(147,0,0,1)), color-stop(92%,rgba(206,37,37,1)), color-stop(100%,rgba(206,37,37,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(255,79,63,1) 8%,rgba(198,0,0,1) 10%,rgba(255,79,63,1) 12%,rgba(206,37,37,1) 88%,rgba(147,0,0,1) 90%,rgba(206,37,37,1) 92%,rgba(206,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(255,79,63,1) 8%,rgba(198,0,0,1) 10%,rgba(255,79,63,1) 12%,rgba(206,37,37,1) 88%,rgba(147,0,0,1) 90%,rgba(206,37,37,1) 92%,rgba(206,37,37,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(255,79,63,1) 8%,rgba(198,0,0,1) 10%,rgba(255,79,63,1) 12%,rgba(206,37,37,1) 88%,rgba(147,0,0,1) 90%,rgba(206,37,37,1) 92%,rgba(206,37,37,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,79,63,1) 1%,rgba(255,79,63,1) 8%,rgba(198,0,0,1) 10%,rgba(255,79,63,1) 12%,rgba(206,37,37,1) 88%,rgba(147,0,0,1) 90%,rgba(206,37,37,1) 92%,rgba(206,37,37,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4f3f', endColorstr='#ce2525',GradientType=0 ); /* IE6-9 */
}

.rw-red.rw-flat-color span:first-child
{
	background:  rgb(255,79,63);
}


/* yellow */
.rw-yellow .rw-back
{
	border-color: #D6AF02;
}

.rw-yellow .vjs-progress-holder,
.rw-yellow .vjs-volume-bar:before
{
	border-color:  rgba(252,214,2,1);
}

.rw-yellow .vjs-seek-handle
{
	background-color: rgba(252,214,2,1);
}

.rw-yellow .vjs-fullscreen-control
{
	background-image: url('images/darkicons/fullscreen.png');
}

.rw-yellow .vjs-play-control
{
	background-image: url('images/darkicons/playpause.png');
}

.rw-yellow .vjs-progress-holder
{
	background: rgba(0,0,0, 0.2);
}
.rw-yellow .vjs-play-progress
{
	background: #333;
}

.rw-yellow .vjs-load-progress
{
	background: rgb(25,25,25);
	background: rgba(0,0,0, 0.2);
} 

.rw-yellow .vjs-volume-level
{
	background: rgba(0,0,0, 0.4);
}
.rw-yellow .vjs-volume-handle
{
	background: #333;
}
.rw-yellow .vjs-volume-bar:before
{
	background: rgba(0,0,0, 0.2);
}



.rw-yellow span:first-child
{
	color: #111;
	background: rgb(255,230,183); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,230,183,1) 0%, rgba(252,214,2,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,230,183,1)), color-stop(100%,rgba(252,214,2,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,230,183,1) 0%,rgba(252,214,2,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,230,183,1) 0%,rgba(252,214,2,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,230,183,1) 0%,rgba(252,214,2,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,230,183,1) 0%,rgba(252,214,2,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6b7', endColorstr='#fcd602',GradientType=0 ); /* IE6-9 */


}

.rw-yellow.rw-bevelled span:first-child
{
background: rgb(255,244,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,244,232,1) 0%, rgba(255,244,244,1) 9%, rgba(237,224,154,1) 12%, rgba(252,214,2,1) 90%, rgba(237,194,2,1) 92%, rgba(196,163,1,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,244,232,1)), color-stop(9%,rgba(255,244,244,1)), color-stop(12%,rgba(237,224,154,1)), color-stop(90%,rgba(252,214,2,1)), color-stop(92%,rgba(237,194,2,1)), color-stop(100%,rgba(196,163,1,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,244,232,1) 0%,rgba(255,244,244,1) 9%,rgba(237,224,154,1) 12%,rgba(252,214,2,1) 90%,rgba(237,194,2,1) 92%,rgba(196,163,1,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,244,232,1) 0%,rgba(255,244,244,1) 9%,rgba(237,224,154,1) 12%,rgba(252,214,2,1) 90%,rgba(237,194,2,1) 92%,rgba(196,163,1,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,244,232,1) 0%,rgba(255,244,244,1) 9%,rgba(237,224,154,1) 12%,rgba(252,214,2,1) 90%,rgba(237,194,2,1) 92%,rgba(196,163,1,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,244,232,1) 0%,rgba(255,244,244,1) 9%,rgba(237,224,154,1) 12%,rgba(252,214,2,1) 90%,rgba(237,194,2,1) 92%,rgba(196,163,1,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4e8', endColorstr='#c4a301',GradientType=0 ); /* IE6-9 */



}

.rw-yellow.rw-stripes-light span:first-child
{
	background: rgb(237,224,154); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,224,154,1) 0%, rgba(237,224,154,1) 8%, rgba(255,244,232,1) 10%, rgba(237,224,154,1) 12%, rgba(237,194,2,1) 88%, rgba(255,244,232,1) 90%, rgba(237,194,2,1) 92%, rgba(237,194,2,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,224,154,1)), color-stop(8%,rgba(237,224,154,1)), color-stop(10%,rgba(255,244,232,1)), color-stop(12%,rgba(237,224,154,1)), color-stop(88%,rgba(237,194,2,1)), color-stop(90%,rgba(255,244,232,1)), color-stop(92%,rgba(237,194,2,1)), color-stop(100%,rgba(237,194,2,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,224,154,1) 0%,rgba(237,224,154,1) 8%,rgba(255,244,232,1) 10%,rgba(237,224,154,1) 12%,rgba(237,194,2,1) 88%,rgba(255,244,232,1) 90%,rgba(237,194,2,1) 92%,rgba(237,194,2,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,224,154,1) 0%,rgba(237,224,154,1) 8%,rgba(255,244,232,1) 10%,rgba(237,224,154,1) 12%,rgba(237,194,2,1) 88%,rgba(255,244,232,1) 90%,rgba(237,194,2,1) 92%,rgba(237,194,2,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,224,154,1) 0%,rgba(237,224,154,1) 8%,rgba(255,244,232,1) 10%,rgba(237,224,154,1) 12%,rgba(237,194,2,1) 88%,rgba(255,244,232,1) 90%,rgba(237,194,2,1) 92%,rgba(237,194,2,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(237,224,154,1) 0%,rgba(237,224,154,1) 8%,rgba(255,244,232,1) 10%,rgba(237,224,154,1) 12%,rgba(237,194,2,1) 88%,rgba(255,244,232,1) 90%,rgba(237,194,2,1) 92%,rgba(237,194,2,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede09a', endColorstr='#edc202',GradientType=0 ); /* IE6-9 */

}

.rw-yellow.rw-stripes-dark span:first-child
{
	background: rgb(237,224,154); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,224,154,1) 0%, rgba(237,224,154,1) 8%, rgba(252,169,80,1) 10%, rgba(237,224,154,1) 12%, rgba(237,194,2,1) 88%, rgba(249,147,37,1) 90%, rgba(237,194,2,1) 92%, rgba(237,194,2,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,224,154,1)), color-stop(8%,rgba(237,224,154,1)), color-stop(10%,rgba(252,169,80,1)), color-stop(12%,rgba(237,224,154,1)), color-stop(88%,rgba(237,194,2,1)), color-stop(90%,rgba(249,147,37,1)), color-stop(92%,rgba(237,194,2,1)), color-stop(100%,rgba(237,194,2,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,224,154,1) 0%,rgba(237,224,154,1) 8%,rgba(252,169,80,1) 10%,rgba(237,224,154,1) 12%,rgba(237,194,2,1) 88%,rgba(249,147,37,1) 90%,rgba(237,194,2,1) 92%,rgba(237,194,2,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,224,154,1) 0%,rgba(237,224,154,1) 8%,rgba(252,169,80,1) 10%,rgba(237,224,154,1) 12%,rgba(237,194,2,1) 88%,rgba(249,147,37,1) 90%,rgba(237,194,2,1) 92%,rgba(237,194,2,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,224,154,1) 0%,rgba(237,224,154,1) 8%,rgba(252,169,80,1) 10%,rgba(237,224,154,1) 12%,rgba(237,194,2,1) 88%,rgba(249,147,37,1) 90%,rgba(237,194,2,1) 92%,rgba(237,194,2,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(237,224,154,1) 0%,rgba(237,224,154,1) 8%,rgba(252,169,80,1) 10%,rgba(237,224,154,1) 12%,rgba(237,194,2,1) 88%,rgba(249,147,37,1) 90%,rgba(237,194,2,1) 92%,rgba(237,194,2,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede09a', endColorstr='#edc202',GradientType=0 ); /* IE6-9 */

}

.rw-yellow.rw-flat-color span:first-child
{
	background:  rgb(252,214,2)
}
